.button {
    display: inline-block;
    color: #fff;
    background: black;
    padding: 10px 16px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;

    &.button-primary {
        background: #3dc154;
    }

    &.button-secondary {
        background: #ffba7a;
    }

    &.button-large {
        padding: 21px;
        font-size: 18px;
    }
}