.container {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

.header {
  padding: 10px 0;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.footer {
  padding: 20px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 1.1rem;
    }
  }
}
